.container {
  display: flex;
  margin: auto;
  max-width: 1000px;
  padding-inline: 15px;
}

@media screen and (min-width: 425px) {
  .container {
    padding-inline: 30px;
  }
}

@media screen and (min-width: 425px) {
  .container {
    padding-inline: 60px;
  }
}