.produtos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.produtos--galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.produtos--galeria img {
  min-width: 0;
  width: 100%;
  max-width: 280px;
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .produtos--galeria {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media screen and (max-width: 425px) {
  .produtos--galeria {
    grid-template-columns: 1fr;
  }
}