.quem-somos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quem-somos--content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quem-somos--content div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.quem-somos--content img {
  flex: 1;
  min-width: 0;
  max-width: 200px;
  object-fit: cover;
}