body {
  font-family: sans-serif;
  color: gray;
}

img {
  border: 2px solid black;
}

section {
  padding: 30px;
}

.mini-images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}

.mini-images img {
  border-radius: 5px;
  width: 80px;
  flex: 1;
}

.content-container {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  align-items: center;
}

.content-container > * {
  flex: 2;
}

h1 {
  font-size: 18px;
  margin-bottom: 25px;
}

.side-image-container {
  flex: 1.5;
}

.side-image-container img {
  width: 100%;
}
