body {
    font-family: sans-serif;
    color: gray;
}

section {
    padding: 30px;
}

img {
    width: 100%
}

h1 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 50px auto 40px;
}
