.header {
  border: 2px solid gray;
  padding: 10px 15px;
  position: relative;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  position: absolute;
  left: 15px;
  top: 10px;
  height: 35px;
}

.header h1 {
  font-size: 16px;
  font-weight: normal;
}

@media screen and (min-width: 425px) {
  .header {
    height: 74px;
  }

  .header img {
    height: 50px;
  }
}